<!DOCTYPE html>
<html lang="en" class="nojs">
<head>
  <title>Weather</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.css" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <link rel="stylesheet" media="screen" href="/css/screen.css" />
</head>
<body>
<div id="header-background"></div>
<div id="page">
  <header id="header">
    <h1>Weather</h1>
    <button type="button" id="history-button" value=""></button>
  </header>
  <main id="content">
    <ul id="history-card">
      <li class="history-card-list">
        <ul id="history-list">
        </ul>
      </li>
      <li class="close-button-li"><a href="#" class="history-close-button">CLOSE</a></li>
    </ul>
    <article id="controls">
      <form id="w-form" name="w-form" method="get" action="#">
        <input type="search" id="w-search" class="w-is-active no" name="w-search" placeholder="Enter a location" />
        <input type="submit" id="w-submit" name="w-submit" value="" />
      </form>
      <p id="error-message"></p>
    </article>
    <article>
      <ul id="weather-data">
      </ul>
    </article>
  </main>
  <footer class="footer">
    <!--TODO add Powered By Sky-->
  </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.js"></script>
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script src="/js/site.js"></script>
</body>
</html>
